<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background-color: darkseagreen;
                background-attachment:fixed;
                height:100%;
            }
            h1{font-family: verdana; 
                font-size: 200%;
                color: blueviolet}
            p{font-family: verdana;}
            a{
              font-family: verdana; 
            }
        </style>
    </head>
	<body>
		<h1 style = "text-align:center">About</h1>
    <p>This is the about page :)</p>
    <%= link_to 'Home', root_path%>
	</body>
</html>